@import "../styles/variables.less";

.header {
  border-bottom: 1px solid @primary-complimentary;
  padding: 10px 0;
  background: linear-gradient(
    180deg,
    @primary-color 0%,
    @primary-complimentary 100%
  );
  //   box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3), inset 0px 2px 1px rgba(255, 255, 255, 0.3), inset 0px -2px 1px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 @spacing-md;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  font-size: @font-size-large;
  font-weight: bold;
  text-decoration: none;
  color: @text-color;
  margin-bottom: @spacing-sm;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navLink,
.logoutButton {
  margin-right: @spacing-md;
  margin-top: @spacing-xs;
  text-decoration: none;
  color: @text-color;
  font-size: @font-size-base;
  .button-style;
}

.activeAccount {
  font-size: @font-size-small;
  color: @secondary-text-color;
  margin-right: @spacing-md;
  margin-top: @spacing-xs;
}

@media (min-width: @breakpoint-md) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin-bottom: 0;
    margin-right: auto;
    margin-left: 2.5%;
  }

  .nav {
    flex-wrap: nowrap;
  }

  .navLink,
  .logoutButton,
  .activeAccount {
    margin-top: 0;
    margin-right: 0;
    margin-left: @spacing-md;
  }

  .activeAccount {
    margin-left: 0;
  }
}
