@import '../../styles/variables.less';


.logoutButton{
    .button-style()
}
.refreshButton{
    .button-style()
}
.flexGrid{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    box-sizing: border-box;
    padding: @spacing-sm;
}