@import "../../styles/variables.less";

.button {
  .button-style();
}
.flexGrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  box-sizing: border-box;
  padding: @spacing-sm;
}

.dashboardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}
