@import "../styles/variables.less";

.flexContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.button{
    .button-style
}

.quote{
    font-size: @font-size-large;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.image{
    max-height: 500px;
}